:root {
  --primary-color: #815991;
  --bg-color: #d1d3ca;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background: var(--bg-color);
  color: var(--primary-color);
  font-weight: 300;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.center {
  text-align: center;
}

.navbar {
  height: 8rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--primary-color);
}

.navbar__list {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.navbar__link {
  text-decoration: none;
}
.header h1 {
  padding: 2rem 0;
}

.header__paragraph {
  width: 50%;
  margin: 0 auto;
}

.container__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.add__task-container {
  text-align: center;
}

.add__task-form {
  width: 100%;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  gap: 1.5rem;
}

.form__input input {
  width: 100%;
  border: 0;
  height: 50px;
  font-size: 16px;
  color: var(--primary-color);
  padding: 0 20px;
  box-sizing: border-box;
}

.flat-button {
  width: 30%;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 10px 12px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--bg-color);
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
  border: none;
}

footer {
  background: var(--primary-color);
  padding: 3rem 0;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 7rem;
}

footer .link {
  color: var(--bg-color);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials .link {
  background: var(--bg-color);
  color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--bg-color);
}

.task__list-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.task__list {
  width: 70%;
  height: 70%;
  margin: 20px auto;
}
