@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --primary-color: #9dd4df;
  --bg-color: #ede7e3;
  --app-color: #16697a;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background: var(--bg-color);
  color: var(--primary-color);
  font-weight: 300;
}

.app {
  max-width: 60%;
  margin: 5rem auto;
  border: none;
  border-radius: 2rem;
  background: var(--app-color);
}

ul {
  list-style: none;
}

.icon-btn {
  font-size: 1rem;
  display: flex;
  border: none;

  color: var(--app-color);
  background: var(--primary-color);
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.navbar {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  /* border-bottom: 1px solid var(--primary-color); */
}

.navbar__list {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.navbar__link {
  text-decoration: none;
}
.header h1 {
  padding: 2rem 0;
}

.header__paragraph {
  width: 50%;
  margin: 0 auto;
}

.container__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.add__task-container {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}

.add__task-form {
  width: 70%;
  margin: 1.2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__input input {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  height: 2.5rem;
  font-size: 16px;
  color: var(--app-color);
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--primary-color);
  color: var(--app-color);
}

.form__button {
  text-align: center;
  padding-bottom: 2rem;
}

.add__task {
  text-align: center;
  padding-bottom: 3rem;
}

.add-button {
  font-size: 12px;
  letter-spacing: 3px;
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}

footer {
  background: var(--primary-color);
  padding: 3rem 0;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 5rem;
}

.footer__logo {
  color: var(--bg-color);
}

footer .link {
  color: var(--bg-color);
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.footer__socials .link {
  background: var(--bg-color);
  color: var(--primary-color);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__copyright {
  color: var(--bg-color);
}

.task__item {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 1rem auto;
  color: var(--app-color);
  padding: 0.3rem 0.5rem;
  min-height: 13rem;
}

.task__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  border-radius: 10px;
  padding: 0 1rem;
}

.task__text {
  display: flex;
  gap: 2rem;
}

.task__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signup__page {
  position: absolute;
  top: 0;
  width: 60%;
  margin: 0 auto;
  height: 30rem;
  background: var(--app-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup__container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.signup__container input {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.signup__button {
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
